<nav>
    <div class="header">
        
           <h1 class="main_heading">ONLINE QUIZ 2021</h1>
           <h3 class="secons_heading">VAZHAKKILI FRIENDS ARTS AND SPORTS CLUB</h3>
        
        <span class="subheader">

        </span>
        
    </div>
</nav>
