<section>
    



    <div class="center_reault">
        <div class="heading">
        <h2 class="head">Quiz Number:</h2>

    </div>
        <div class="">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Question</th>
                        <th scope="col">Your Answer</th>
                        
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        
                    </tr>
                </tbody>
            </table>
            
            </div>
            
            <div class="d-flex justify-content-evenly">
                <a href="/" style="background-color: brown; color: cornsilk;" class="btn">Check another Person</a>
                <a href="/" style="background-color: brown; color: cornsilk;" class="btn">Check another Quizz</a>
            </div>

        </div>
        
    </div>

    </body>
</section>