<section>
    <div class="heading">
        <h2 class="head">INDIVIDUAL RESULT </h2>

    </div>



    <div class="center">
        <div class="d-flex justify-content-evenly">
            <form action="/serch" method="POST">
               
                <input name="Mobile" style="width: 100%; border: solid; border-color: brown; border-radius: 20px;" type="number" class="form-control serchbar" placeholder="Enter Your Mobile Number " required >
                <br>
                <div class="d-flex justify-content-evenly"> 
                    <button style="background-color: brown; color: cornsilk;" type="submit" class="btn btn">Get Results</button>
                </div>
                
            </form>



        </div>
    </div>

    </body>
</section>